*{
   margin: 0;
   padding: 0;
   font-family: 'Montserrat' , sans-serif; 

}
h1{
   font-size: 6em;
}
.container{
   text-align: center;
   background: powderblue;
}

figcaption , p {
   font-size: 0.9em;
   line-height: 1.6em;
}
ul {
  
   list-style: none;
}
.logo{
    width: 20em;
    margin-left: 5%;

}
header{
   display: flex;
   justify-content: space-between;
}

 ul a{
   text-decoration: none;
}

.hide-mobile{
   display: none;
}

.menu{
   margin-top: 100;
   margin-right: 60;
   width: 7em;
}

.server {
   width: 55em;
   margin: 4em 2em 1em 0em;
}

.input{

   margin-top: 0%;
   border-radius: 50px;
   width: 90%;
   font-size: 72px;
   background: whitesmoke url(search-512.png) right no-repeat;
   background-size: 1em;
   border: 1px solid gray;
   padding-left: 17px;
   
}
